h1 {
border: 8px solid rgb(240, 128, 128);
background-color: rgb(240, 128, 128);
text-align: center;
margin: auto;
padding: 5px;
}

h2 {
border-top: 7px solid rgb(255, 192, 203);
border-bottom: 7px solid rgb(255, 192, 203);
border-right: 14px solid rgb(50, 205, 50);
border-left: 14px solid rgb(50, 205, 50);
margin: auto;
text-align: center;
padding: 5px;
}

h3 {
border-top: 6px solid rgb(255, 192, 203);
border-bottom: 6px solid rgb(255, 192, 203);	
border-left: 12px solid rgb(50, 205, 50);
border-right: 12px solid rgb(50, 205, 50);
text-align: center;
margin: auto;
padding: 5px;
}

p {
border: 5px solid rgb(251,196,171);
background-color: rgb(251,196,171);
padding: 5px;
margin: auto;
text-align: left;
}

