h1 {
border: 8px solid rgb(248,173,157);
background-color: rgb(248,173,157);
text-align: center;
margin: auto;
padding: 5px;
}

p {
border: 5px solid rgb(251,196,171);
background-color: rgb(251,196,171);
padding: 5px;
margin: auto;
text-align: left;
}

